body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}
h1 {
  font-size: 60px;
  color: #575757;
}
h2 {
  font-size: 40px;
  color: #707070;
}
h3 {
  font-weight: 700;
}
.banner-container {
  margin-top: 4%;
  display: flex;
}
.half-width {
  width: 50%;
  margin-left: 7%;
}
.half-width span {
  color: #fba24f;
}
p {
  color: dimgray;
}
.my-button {
  margin-top: 10%;
  border-radius: 50px;
  color: white;
  background-image: linear-gradient(88.33deg, #fba24f -7.64%, #ff1e1e 145.94%);
  border: none;
  padding: 20px 40px;
  font-weight: 700;
  font-size: 20px;
}
.half-width img {
  width: 80%;
}
.person {
  width: 31%;
  padding-top: 34px;
}
.about-me {
  background-image: url(images/shapes/7.png);
  background-position: left;
  background-size: contain;
  background-repeat: no-repeat;
  justify-content: flex-end;
  align-items: center;
}
.right-pad {
  width: 40%;
  margin-right: 10%;
}

.food-container .details {
  width: 40%;
  margin: 3% auto;
  text-align: center;
}
.recepie-container {
  display: flex;
  justify-content: center;
  column-gap: 20px;
}

.recepie-width {
  width: 40%;
  box-shadow: 0 4px 40px rgba(0, 0, 0, 0.15);
  padding: 2%;
  border-radius: 30px;
}
.recepie-width img {
  width: 100%;
}
.popularity-section {
  display: flex;
  justify-content: space-evenly;
  box-shadow: 0 4px 40px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  margin: 5.5%;
}
.followers h2 {
  color: black;
  font-weight: bold;
  margin-bottom: 0;
}
.followers p {
  margin-top: 10px;
  margin-bottom: 30%;
  color: black;
}
footer {
  background-color: black;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 60px;
}
footer h3 {
  color: #575757;
  font-weight: 900;
  font-size: 25px;
}
footer p {
  color: white;
}
span {
  color: #fba24f;
}
#gray {
  color: gray;
}
